/* Author: Will Inglis, Grace Kim, Esther Kim */
/* Date Created: April 1st, 2023 
   Last Modified: April 13th, 2023 */

html, body {
    background: #212325;
    /* Font source: https://fonts.google.com/specimen/Roboto */
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    height: 100%;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    width: 100%;
}

main{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
}
/* To make sure Methodology page headers do not get covered by bar */
@media (max-width: 1000px) {
  main {
    padding-top: 105px;
  }
}
section{
    padding-bottom: 20px;
}
h1{
    color: #ebf2f7;
    font-weight: 500;
    font-size: 1.6em;
}
h2{
    color: #a3a8ac;
    font-weight: 100;
    font-size: 1.3em;
}
p {
    color: #ffffff;
    line-height: 1.5;
    font-weight: 300;
}
footer {
    background-color: #111212; /*Refresh Black*/
    position: absolute;
    text-align: center;
    width: 100%;
}
#footer {
    color: #f9fbfc;
    font-size: 0.8em;
}

  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .responsive{
    max-width: 100%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/* May or may not use
  header{
    background-image: ;
    background-position: center center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height:auto;
  }
*/

/* nav bar */
body {
	padding: 0;
	margin: 0;
}

nav {
	position: fixed; 
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 5%;
	height: 100px;
	background-color: #111212; /*Refresh Black*/
}

nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 26px;
  color: #f9fbfc;
}

nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav .links li {
	list-style: none;
}

nav .links a {
	display:block;
	padding: .5em;
	font-size: 18px;
	font-weight: 300;
  color: #f9fbfc;
	text-decoration: none;
}
/* Change background colour when hovering over link */
nav .links a:hover {
  background-color: #292b2b;
  border-radius: 5px;
}

#nav-toggle {
	position: absolute;
	top: -100px;
}

nav .icon-burger {
	position: absolute;
	display: none;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}


nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
  display: block;
}

/*Media query will give a tailored experience to different devices (commenting out for now)

@media screen and (max-width: 1200px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links{
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		transition: all .5s ease-in-out;
	}
	nav .links a{
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
}

*/

/* DROPDOWN MENU */

.services {
position: relative;
}

/* Dropdown content (hidden by default) -reused from a3web assignment */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li + li {
margin-top: 16px;
}

.dropdown-content li {
padding: 0.5em 1em;
width: 8em;
text-align: center;
}

.dropdown-content li:hover {
background-color: #000000;
}

.services:hover .dropdown-content {
display: block;
}

/*RESPONSIVE NAVBAR MENU*/

/* end of nav bar*/		

/*banner*/
.containerb {
	position: relative;
	margin-top: 100px;
}
.containerb img{
  display: block;
  width: 100%;
}
/* end of banner*/

/* CSS for About us Page */

.nameid{
  font-size: 1.33rem;
  color:#ffffff;
  font-style: bold;
}

 .background1 {
    background: darkgray;
 }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;
  padding: 0.5rem 1.33rem;
}

.containerindex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;
  padding: 1rem 6.5rem;
  border-bottom: 7px dashed #573DFC;
}

.container2{
  margin: 2rem;
  width: 100%; 
}

.center{
  justify-content: center;
  padding: 3rem;
  color:  #000;
  align-items: center;
  text-align: center;

}

.center h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.center p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}
  
 .column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 0rem 2rem;
 }
  
 .column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
 }
  
 .column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
 }
  
 button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #03fff6;
    background: #000000;
    cursor: pointer;
    border-radius: 50px;
 }
  
 button:hover {
    background: #fff;
    color: #000;
 }
  
 .column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0rem 2rem;
 }

 .centergeneral{
  display:flex;
  align-items: center;
  justify-content: center;
 }
/* StoryMap specific css */

.storymapH1{
	font-size: 5rem;
	color: white;
}

.storymapfont{
	font-size: 1rem;
	color: white;
}

.buttonlink{
  background-color: white;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

buttonlink:hover, buttonlink:active {
  background-color: red;
}

.storyexp{
  color: yellow;
  text-decoration: underline;
}

/* Image configuration for Experience Builder page */

.image-container {
  display: grid;
  justify-items: center;
  justify-content: center;
}
.image-container-row {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-auto-flow: column;
  gap: 1em;
}
@media screen and (max-width: 1150px) {
  .image-container-row {
    grid-auto-flow: row;
  }
}
.containImage {
  max-width: 100%;
  padding: 2%;
  display: grid;
  justify-items: center;

}
.containerText {
  text-align: center;
  max-width: 65ch;
}